* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0B3E27;
}

header a {
    width: 5%;
    margin-top: 1rem;
}

header img {
    width: 100%;
    margin-left: 2.5%;
}

nav {
    margin: 1.5rem;
    width: 45%;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.btn-panier {
    display: flex;
    margin-top: 1.7rem;
    margin-right: 2rem;
    border: 1px solid black;
    padding: 0.7rem;
    margin-bottom: 1rem;
    background-color: #ADFF45;
}

.btn-panier .iconify {
    padding-right: 0.5rem;
}

.btn-panier h3 {
    font-size: 1rem;
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

/* recherche */ 

.reserch {
    margin-top: 3rem;
}

.reserch h2 {
    width: 20%;
    margin-left: 40%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    background-color: #d4d4d4;
}

.reserch iframe {
    margin-left: 5%;
}

.iffo {
    display: flex;
}

.info-cont {
    display: block;
}

.information {
    margin-left: 2.5rem;
}

.information button {
    font-size: 1rem;
    border: 0.5px solid black;
    padding: 1rem 6rem 1rem 6rem;
    color: #ADFF45;
    font-weight: 600;
    background-color: #0B3E27;
    cursor: pointer;
}

.information button a {
    color: #ADFF45;
}

.tab-content {
    margin-left: 2.6rem;
    margin-top: 2.5rem;
}

.tab-content h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.tab-content h4 {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 1rem;
}

.copy {
    display: flex;
    width: 34%;
    justify-content: space-between;
    border: 0.5px solid #ADFF45;
    background-color: #0B3E27;
    color: white;
    padding: 0.5rem;
}

.copy p {
    margin-top: 0.7rem;
}

.copy .iconify {
    color: white;
    cursor: pointer;
    width: 10%;
}

.iconify:hover {
    color: #ADFF45;
}

.reseaux {
    margin-top: 1rem;
    width: 43%;
}

.reseaux .iconify {
    color: black;
    width: 10%;
    height: 7vh;
    justify-content: space-between;
    margin-right: 2.5rem;
    color: #ADFF45;
}

.contact .email {
    font-size: 1rem;
    padding: 0.5rem 4.3rem 0.5rem 4.3rem;
    background-color: #d4d4d4;
}

ul {
    width: 50%;
    background-color: #0B3E27;
    list-style: none;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 8rem;
}

ul li {
    font-size: 2rem;
    color: white;
    padding: 0.2rem;
}

.ul-2 {
    width: 80%;
}
  
  .renseignement {
    clear: both;
    padding: 7rem;
    background-color:#8B9781;
    text-align: center;
}

  /* FOOTER */

footer {
    display: flex;
    width: 100%;
    padding: 0.3rem;
    justify-content: center;
    background-color: #0B3E27;
}

footer img {
    width: 5%;
}

.iconify {
    height: 6vh;
    width: 100%;
}

.reseaux1 {
   width: 10%;
   display: flex;
   padding: 0.5rem;
}

.reseaux2 {
    width: 10%;
    display: flex; 
    padding: 0.5rem;
}


/* RESPONSIVE */

@media screen and (max-width: 1325px) {
    .information button {
        font-size: 1rem;
        border: 0.5px solid black;
        padding: 0.7rem 4rem 0.7rem 4rem;
        color: #ADFF45;
        font-weight: 400;
        background-color: #0B3E27;
        cursor: pointer;
    }

    .ul-2 {
        width: 100%;
    }

    ul {
        width: 100%;
    }

    .reseaux {
        width: 100%;
        margin-bottom: 1rem;
    }

    .reseaux .iconify {
        width: 6%;
    }
    
}

@media screen and (max-width: 1127px) {
    .information button {
        padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    }

    ul li {
        font-size: 1.5rem;
    }

    .iconify {
        height: 6vh;
        width: 100%;
        margin-right: 0.5rem;
    }

    .copy .iconify {
        width: 15%;
    }

    .reseaux1 {
        width: 20%;
    }

    .reseaux2 {
        width: 20%;
    }

}

@media screen and (max-width: 981px) {

    .information button {
        display: none;
    }

    .iffo {
        display: block;
    }

    .reserch iframe {
        width: 60%;
        margin-left: 20%;
    }

    .tab-content {
        margin-left: 20%;
        margin-top: 2.5rem;
    }

    .ul-2 {
        width: 75%;
    }

    ul {
        width: 75%;
    }

    footer img {
        display: none;
    }

    .reseaux {
        width: 75%;
        margin-bottom: 1rem;
    }

    .reserch h2 {
        width: 60%;
        margin-left: 20%;
        text-align: center;
    }
}

@media screen and (max-width: 630px) {

    .renseignement {
        padding: 4rem;
    }

    .iconify {
        height: 6vh;
        width: 100%;
        margin-right: 0.5rem;
    }

    .reseaux1 {
        width: 20%;
    }

    .reseaux2 {
        width: 20%;
    }

}
