* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #0B3E27;
}

header a {
    width: 20%;
    margin-right: 1rem;
    height: 10vh;
}

header img {
    width: 5%;
    margin-left: 2rem;
}

nav {
    margin: 1.5rem;
}

nav a {
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.btn-panier {
    display: flex;
    margin-top: 1rem;
    margin-right: 1rem;
    border: 1px solid black;
    padding: 0.7rem;
    margin-bottom: 1rem;
    background-color: #ADFF45;
    width: 100%;
    height: 7vh;
}

.btn-panier .iconify {
    padding-right: 0rem;
    width: 15%;
    margin: 0;
}

.btn-panier h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-top: 0.1rem;
    margin-left: 2rem;
    justify-content: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.banniere {
    display: flex;
    justify-content: space-around;
    background-color: #d4d4d4;
}

#montreban {
    width: 17%;
}

.ns {
    margin-top: 9rem;
}

.ns h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
}

.ns a {
    text-decoration: none;
    background-color: #ADFF45;
    padding: 1rem;
    border-radius: 25px;
    color: white;
    margin: 9rem;
}

.pro h2{
    width: 20%;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    padding: 1rem;
    background-color: #d4d4d4;
    margin-left: 40%;
    margin-bottom: 2rem;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}

.ggrid {
    width: 33%;
    margin: 0.1rem;
    display: flex;
    background-color: #d4d4d4;
    height: 25vh;
}

.grid a {
    display: flex;
}


.ggrid h3 {
    margin-top: 3.5rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.ggrid img {
    width: 25%;
    margin-left: 4rem;
}

#img img {
    width: 15%;
}

.descrip p {
    margin-left: 1rem;
    font-weight: 100;
    font-family: cursive;
    font-size: 0.8rem;
}

.btn-atc {
    background-color: #0B3E27;
    padding: 1rem;
    margin-top: 20%;
    border-radius: 6px 6px 0 0;
    margin-left: 2rem;
}

.btn-atc button {
    color: #ADFF45;
    background-color: #0B3E27;
    border: none;

}

/* FOOTER */

  /* FOOTER */

  footer {
    display: flex;
    width: 100%;
    padding: 0.3rem;
    justify-content: center;
    background-color: #0B3E27;
}

footer img {
    width: 5%;
}

.iconify {
    height: 6vh;
    width: 100%;
}

.reseaux1 {
   width: 10%;
   display: flex;
   padding: 0.5rem;
}

.reseaux2 {
    width: 10%;
    display: flex; 
    padding: 0.5rem;
}

/* --------------__ ------------ RESPONSIVE ----------___--------- */

@media screen and (max-width: 1175px) {

    .btn-panier h3 {
        font-size: 1.5rem;
    }

    .ggrid {
        width: 70%;
        margin-left: 15%;
        display: flex;
        background-color: #d4d4d4;
    }

    .ggrid img {
        width: 20%;
        margin-left: 5rem;
    }

    .grid img {
        margin-left: 10rem;
        margin-right: 1rem;
    }

    #imgg img {
        width: 15%;
    }    

    .grid a {
        display: flex;
    }

}

@media screen and (max-width: 929px) {

    .btn-panier h3 {
        font-size: 1.2rem;
        margin-top: 0.4rem;
    }

    #montreban {
        display: none;
    }

    .banniere {
        background: url(/img/montreban.png);
        width: 100%;
        height: 55vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ns h1 {
        font-size: 6rem;
        color: white;
        margin-bottom: 2rem;
    }

    .pro h2 {
        font-size: 1.3rem;
        width: 30%;
        margin-left: 35%;
    }

    .grid a {
        display: flex;
    }

    .grid img {
        margin-left: 5rem;
        margin-right: 1rem;
    }
    
}
